
.form {
            width: 400px;
            background-color: rgba(0, 0, 0, 0.74);
            padding: 4rem;
            margin: auto;
            margin-top: 4rem;
            margin-bottom: 4rem;
            border-radius: 1rem;
            box-shadow: 7px 13px 37px $colorSecundario;
            .form h2 {
                font-size: 1.5rem;
                color: $tercerColor;
                margin-bottom: 1rem;
             }
             .cuadro {
                padding: 0.5rem;
                border-radius: 1rem;
                margin-bottom: 1rem;
                border: 3px solid $colorPrincipal;
            }
            .botons {
                width: 100%;
                background-color: $cuartoColor;
                border: none;
                border-radius: 1rem;
                margin-bottom: 1rem;
                padding: .8rem;
                font-size: 1rem;
            }
        }
                