
body{
    background-image: url(../img/juegos.jpg_1756841869.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
        .menu {
            background-color: $colorPrincipal;
            color: $tercerColor;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem 3rem;

            .logo {
                color: $tercerColor;
            }
            
            .open{
                display: none;
            }

            .nav {
                display: flex;
                gap: 1rem;

                .close {
                    display: none;
                }
                .link {
                    color: $tercerColor;
                }
            }
        }
        .parrafo {
            padding: 4rem;
            display: flex;
            justify-content: space-around;
            gap: 1rem;

            .texto {
                width: 50%;
                background-color: #00000070;
                color: $tercerColor;
                text-align: center;
                margin-top: 2rem;
                box-shadow: 7px 13px 37px $colorSecundario;
                border-radius: 1rem;

                .titulo {
                    padding: 1rem;
                    font-size: 2rem;
                    margin-top: 1rem;
                }
            }
        }
        .imagen{
            width: 100%;
            border-color: $colorSecundario;
            border-style: ridge;
            border-width: 1rem;
            border-radius: 1rem;
            box-shadow: 7px 13px 37px $colorSecundario;
        }
        .title {
            text-align: center;
            font-size: 3rem;
            color: $quintoColor;
            background-color:$colorPrincipal;
            padding: 0.5rem;
            margin-bottom: 1rem;
        }
        .contenido{
            background-color: $colorPrincipal;
            display: flex;
            padding: 3rem;
            gap: 2rem;
            align-items: center;
            justify-content: space-between;

                .link {
                    color: $tercerColor;
                }
                .img1 {
                    border: solid 1rem;
                    width: 700px;
                    border-radius: 1rem;
                }
                
                .img2 {
                    border: solid 1rem;
                    width: 720px;
                    border-radius: 1rem;
                }
                
                .img3 {
                    border: solid 1rem;
                    width: 830px;
                    border-radius: 1rem;
                }
                .p1 {
                    color: $tercerColor;
                    margin-bottom: 1rem;
                    text-align: center;
                    border: solid;
                    border-radius: 1rem;
                    padding: 1rem;
                    box-shadow: 7px 13px 37px $colorSecundario;
                }
                
                .p2 {
                    color: $tercerColor;
                    text-align: center;
                    margin-bottom: 1rem;
                    border: solid;
                    border-radius: 1rem;
                    padding: 1rem;
                    box-shadow: 7px 13px 37px $colorSecundario;
                }
                
                .p3 {
                    color: $tercerColor;
                    text-align: center;
                    margin-bottom: 1rem;
                    border: solid;
                    border-radius: 1rem;
                    padding: 1rem;
                    box-shadow: 7px 13px 37px $colorSecundario;
                }
        }
        .footer {
            background-color: $colorSecundario;
            display: flex;
            justify-content: end;
            padding: 2rem;

            .lista{
                display: flex;
                color: $tercerColor;
                gap: 2rem;
               
                .icons{
                    font-size: 2rem;
                } 
            }  
        }
// mediaquaries

@media screen and (max-width: 900px) {
    .parrafo {
        display: grid;
        align-items: center;
        align-content: center;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        padding: 2rem;
    

    .titulo{
        margin-top: 0rem;
    }
    .texto {
        margin-top: 0%;
        width: 100%;
        height: 100%;
        align-items: center;
        padding: 1rem;
          
    }
    }
    .imagen {
        width: 100%;
        height: 100%;
    }
     .contenido {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
     }
     .img3 {
        height: 175px;
        align-items: center;
     }
}

@media screen and (max-width: 700px) {
    .parrafo {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .texto {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .title {
        font-size: 2rem;
    }

    .contenido {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .img3 {
        height: 0%;
    }
}

// menu hamburguesa

@media screen and (max-width: 500px) {
    
    menu .open {
        display: block;
        border: 0;
        font-size: 2rem;
        background-color:$colorPrincipal;
    }

    .nav {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 0;
        right: 0;
        flex-direction: column;
        align-items: end;
        background-color:$cuartoColor;
        padding: 2rem;
        bottom: 0;
        gap: 2rem;
        z-index: 999;
        .close{
            display: block;
            border: 0;
            font-size: 2rem;
            background-color:$colorPrincipal;
        }
        .close {
            background-color: $cuartoColor;
        }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }

    .title {
        font-size: 1.5rem;
    }
    }
}

}
