
body{
    background-image: url(../img/juegos.jpg_1756841869.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
        .menu {
            background-color: $colorPrincipal;
            color: $tercerColor;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem 3rem;

            .logo {
                color: $tercerColor;
            }
            
            .open{
                display: none;
            }

            .nav {
                display: flex;
                gap: 1rem;

                .close {
                    display: none;
                }
            }
        }
        .carrusel {
            padding: 5rem;
            margin-bottom: 3rem;
        }
        .texto {
            width: 50%;
            background-color: #00000070;
            color: $tercerColor;
            text-align: center;
            margin-top: 2rem;
            box-shadow: 7px 13px 37px $colorSecundario;
            border-radius: 1rem;
                .boton {
                    background-color: #3b016db6;
                    color: $tercerColor;
                    padding: 0.5rem;
                    border-style: none;
                    border-radius: .75rem;
                    box-shadow: 7px 13px 37px $colorSecundario;
            }
            .link {
                color: $tercerColor;
            }
        }
        .texto-1 {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 2rem;
            width: 100%;
            margin-bottom: 2rem;
        }    
        .footer {
            background-color: $colorSecundario;
            display: flex;
            justify-content: end;
            padding: 2rem;

            .lista{
                display: flex;
                color: $tercerColor;
                gap: 2rem;
               
                .icons{
                    font-size: 2rem;
                } 
            }  
        }
}  

//mediaquaries

// menu hamburguesa

@media screen and (max-width: 500px) {
    
    .open, .close{
        display: block;
        border: 0;
        font-size: 2rem;
        background-color:$colorPrincipal;
    }
    .close {
        background-color: $cuartoColor;
    }
    .nav {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 0;
        right: 0;
        flex-direction: column;
        align-items: end;
        background-color: $cuartoColor;
        padding: 2rem;
        bottom: 0;
        gap: 2rem;
        z-index: 999;
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }

    .title {
        font-size: 1.5rem;
    }
}