
        .products {
            margin: auto;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            justify-content: center;
            align-items: center;
            padding: 3rem;
            gap: 2rem;
            margin-bottom: 2rem;
                .container-1 {
                    background-color: #00000057;
                    padding: 2rem;
                    border: dashed 0.5rem;
                    border-radius: 1rem;
                    box-shadow: 7px 13px 37px $colorSecundario;
                        .images{
                            width: 100%;
                        }
                        .descripcion {
                            text-align: left;
                            color: $tercerColor;
                            padding: 0.5rem;
                        }
                        
                        .boton {
                            background-color: #3b016db6;
                            color: white;
                            padding: 0.5rem;
                            border-style: none;
                            border-radius: .75rem;
                            box-shadow: 7px 13px 37px $colorSecundario;
                        }
                        
                }
        }