

        .juego {
            background-color: #0000006c;
            margin: 2rem;
            text-align: center;
            padding: 1rem;
            color: rgb(133, 59, 202);
            box-shadow: 7px 13px 37px $colorSecundario;
            font-size: 2rem;
            -webkit-text-stroke: 0.3px $tercerColor;
            transition: 1.5s;

            &:hover{
                background-color: #3b016d7c;
                font-size: 2.5rem;
                transition: 1.5s;
            }
        }
        .contenedor {
            display: flex;
            justify-content:space-around;
            background-color: #0000006c;
            margin: 1rem;
            padding: 1rem;
            gap: 1rem;
            color: $tercerColor;
            box-shadow: 7px 13px 37px $colorSecundario;
            margin-bottom: 2rem;
                .requisitos {
                    text-decoration: underline;
                    font-size: 1.5rem;
                }
                
                .listas {
                    list-style-type:circle;
                }
        }