
body{
    background-image: url(../img/juegos.jpg_1756841869.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
        .menu {
            background-color: $colorPrincipal;
            color: $tercerColor;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem 3rem;

            .logo {
                color: $tercerColor;
            }
            
            .open{
                display: none;
            }

            .nav {
                display: flex;
                gap: 1rem;

                .close {
                    display: none;
                }
            }
        }
        .juego {
            background-color: #0000006c;
            margin: 2rem;
            text-align: center;
            padding: 1rem;
            color: rgb(133, 59, 202);
            box-shadow: 7px 13px 37px $colorSecundario;
            font-size: 2rem;
            -webkit-text-stroke: 0.3px $tercerColor;
        }
        .contenedor {
            display: flex;
            justify-content:space-around;
            background-color: #0000006c;
            margin: 1rem;
            padding: 1rem;
            gap: 1rem;
            color: $tercerColor;
            box-shadow: 7px 13px 37px $colorSecundario;
            margin-bottom: 2rem;
                .requisitos {
                    text-decoration: underline;
                    font-size: 1.5rem;
                }
                
                .listas {
                    list-style-type:circle;
                }
        }
        .footer {
            background-color: $colorSecundario;
            display: flex;
            justify-content: end;
            padding: 2rem;

            .lista{
                display: flex;
                color: $tercerColor;
                gap: 2rem;
               
                .icons{
                    font-size: 2rem;
                } 
            }  
        }



//mediaquaries

@media screen and (max-width: 1350px) {
    .contenedor {
        display: flex;
        flex-direction: column;
        align-items:flex-start;
        justify-content: center;
    }
    
}

// menu hamburguesa

@media screen and (max-width: 500px) {
    
    .open, .close{
        display: block;
        border: 0;
        font-size: 2rem;
        background-color:$colorPrincipal;
    }
    .close {
        background-color: $cuartoColor;
    }
    .nav {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 0;
        right: 0;
        flex-direction: column;
        align-items: end;
        background-color:$cuartoColor;
        padding: 2rem;
        bottom: 0;
        gap: 2rem;
        z-index: 999;
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }

    .title {
        font-size: 1.5rem;
    }
}
}